<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--show the map-->
  <div #map id="map"></div>
  <div>
    <ion-list *ngIf="resultItem">
      <ion-item class="itemBus" *ngFor="let res of resultItem">
        <h1>{{ res.rt }}</h1>
        <h3><ion-icon name="arrow-dropright-circle"></ion-icon>&nbsp;{{ res.rtdir }}</h3>
        <span>{{ res.stpnm }}</span>
        <ion-note item-right class="note">
          <h2>{{ res.prdctdn }}</h2>
          <h3>minutes</h3>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
