page-search {

  .searchHistory {
      margin-top: 40px;

  }

  .formClass {
    width: 97%;
    margin: 0 auto;
  }
  .select {
    margin-left: 50px;
  }
  .trueStyle {
    background-color: white;
    color: black;
  }
  .falseStyle{
    background-color: white;
    color: black;
  }
}
