<ion-header>
  <ion-navbar>
    <ion-title>
      Bus Stops
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div #map2 id="map2"></div>
  <div class="nearbyList">
    <ion-list *ngIf="resultItem">
      <ion-item class="itemResult" *ngFor="let res of resultItem">
        <h4>{{ res.stopId }} &nbsp;{{ res.stopName }}</h4>
        <ion-item  class="itemBus" *ngFor="let bus of res.tempBuses">
          <h4>{{ bus.rt }}</h4>
          <h4><ion-icon name="arrow-dropright-circle"></ion-icon>&nbsp;{{ bus.rtdir }}</h4>
          <ion-note item-right class="note">
            <h3>{{ bus.prdctdn }}</h3>
            <h3>minutes</h3>
          </ion-note>
        </ion-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
